<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/caw_xenvironment/launchers/Xenvironment (CAW).launch"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/release/xenvironment/environment/lib/xenv-engine.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oracle.retail.xenvironment.Xenvironment"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="caw_xenvironment"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Ddtv.config.path.1=:xenvironment&#10;-Ddtv.system.properties.location=${workspace_loc:caw_xenvironment}/system.properties &#10;-Ddtv.pos.screenNumber=1 &#10;-Ddtv.util.crypto.SecretKeyCipherManager.keyStoreDirectory=${workspace_loc:caw_pos}/res/keys &#10;-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager&#10;-Djavax.net.ssl.trustStore=${workspace_loc:caw_pos}/res/ssl/.truststore&#10;-Djavax.net.ssl.keyStore=${workspace_loc:caw_pos}/res/ssl/.keystore"/>
</launchConfiguration>
